<nav class="navbar">
  <div class="navbar-header">
    <a routerLink="/" class="logo">
      <img src="assets/logo.svg" alt="Logo" />
      <span>June</span>
    </a>
  </div>

  <div class="navbar-menu">
    <a
      *ngFor="let item of menuItems"
      [routerLink]="item.path"
      routerLinkActive="active"
      class="menu-item"
    >
      <span class="material-icons">{{ item.icon }}</span>
      <span class="label">{{ item.label }}</span>
    </a>
  </div>

  <div class="navbar-footer">
    <button class="user-menu">
      <img src="assets/avatar.jpg" alt="User" class="avatar" />
      <div class="user-info">
        <span class="name">홍길동</span>
        <span class="email">hong&#64;example.com</span>
      </div>
    </button>
  </div>
</nav> 