<div>
  <div class="login-box">
    <h2>Login</h2>
    <form class="form" (submit)="onLogin(); $event.preventDefault();">
      <div class="form-group">
        <label for="id"></label>
        <input [(ngModel)]="id" [ngModelOptions]="{standalone: true}" type="text" id="id" placeholder="Enter your ID" />
      </div>
      <div class="form-group">
        <label for="password"></label>
        <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}" type="password" id="password" placeholder="Enter your Password" />
      </div>
      <input type="submit" class="login-button" value="Sign In"/>
    </form>
    <div class="extra-links">
      <p><a href="#">Create an account</a></p>
    </div>
  </div>
</div>
