<header class="header">
  <div class="header-left">
    <button class="menu-btn">
      <span class="material-icons">menu</span>
    </button>
    <span class="logo">
      <span class="logo-icon">
        <span class="material-icons" style="color:#FF0000;">play_circle_filled</span>
      </span>
      <span class="logo-text">JunTube</span>
    </span>
  </div>
  <div class="header-center">
    <input class="search-input" type="text" placeholder="Search" />
    <button class="search-btn">
      <span class="material-icons">search</span>
    </button>
  </div>
  <div class="header-right">
    <button class="signin-btn">
      <span class="material-icons">account_circle</span>
      <span>Sign in</span>
    </button>
  </div>
</header> 