@use "component/card";
@use "page/login/login";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  [data-rune] * {
    box-sizing: border-box;
  }
}

#app {
  font-size: 18px;
}
